# macOS
.DS_Store

# weaviate
weaviate_data/

# reports
artifacts/
docs/
runs/
runs/latest/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environments
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS-specific
Thumbs.db
